.icon{display:inline-block;color:#444444;fill:currentColor}
.icon-arrow-bottom{width:59px;height:32px}
.icon-arrow-top{width:59px;height:32px}
.icon-close-pop-up{width:32px;height:32px}
#icon-close-pop-up .path1{fill:currentcolor}
#icon-close-pop-up .path2{fill:currentcolor}
.icon-gift-film{width:27px;height:32px}
#icon-gift-film .path1{fill:currentcolor}
#icon-gift-film .path2{fill:currentcolor}
#icon-gift-film .path3{fill:currentcolor}
#icon-gift-film .path4{fill:currentcolor}
#icon-gift-film .path5{fill:currentcolor}
#icon-gift-film .path6{fill:currentcolor}
#icon-gift-film .path7{fill:currentcolor}
.icon-gift-voucher{width:60px;height:32px}
.icon-go-to-home-arrow{width:59px;height:32px}
.icon-play-arrow{width:22px;height:32px}
#icon-play-arrow .path1{fill:currentcolor}
#icon-play-arrow .path2{fill:currentcolor}
#icon-play-arrow .path3{fill:currentcolor}
#icon-play-arrow .path4{fill:currentcolor}
.icon-search-magnifire{width:32px;height:32px}
#icon-search-magnifire .path1{fill:currentcolor}
#icon-search-magnifire .path2{fill:currentcolor}
.icon-show-all-arrow{width:20px;height:32px}
#icon-show-all-arrow .path1{fill:currentcolor}
#icon-show-all-arrow .path2{fill:currentcolor}
.icon-slide-arrow-next{width:17px;height:32px}
.icon-slide-arrow-prev{width:17px;height:32px}
.icon-star{width:34px;height:32px}